{% block ninja_conversion_header %}

	{% set backgroundColor = config('NINJAConversionHeader.config.headerBarColor') %}
	{% set height = config('NINJAConversionHeader.config.headerBarHeight') %}

	{% set firstText = 'NINJAConversionHeader.config.firstText'|trans|sw_sanitize %}
	{% set secondText = 'NINJAConversionHeader.config.secondText'|trans|sw_sanitize %}
	{% set thirdText = 'NINJAConversionHeader.config.thirdText'|trans|sw_sanitize %}
	{% set textColor = config('NINJAConversionHeader.config.textColor') %}

	{% if not config('NINJAConversionHeader.config.hideDesktopBar') %}
		<div class="ninja-conversion-header" style="background-color: {{backgroundColor}}; color: {{textColor}}; height: {{height}}px;">
			{% if firstText is not empty %}
				<p>{{ firstText }}</p>
			{% endif %}

			{% if secondText is not empty %}
				<p>{{ secondText }}</p>
			{% endif %}

			{% if thirdText is not empty %}
				<p>{{ thirdText }}</p>
			{% endif %}
		</div>
	{% endif %}


	{% set phoneColor = config('NINJAConversionHeader.config.headerColorPhone') %}
	{% set phoneHeight = config('NINJAConversionHeader.config.headerPhoneHeight') %}
	{% set phoneText = 'NINJAConversionHeader.config.phoneText'|trans|sw_sanitize %}
	{% set phoneTextColor = config('NINJAConversionHeader.config.phoneTextColor') %}

	{% if not config('NINJAConversionHeader.config.hideOnMobile') %}
		<div class="ninja-conversion-header-mobile" style="background-color: {{phoneColor}}; color: {{phoneTextColor}}; height: {{phoneHeight}}px;">
			{% if phoneText is not empty %}
				<p>{{ phoneText }}</p>
			{% endif %}
		</div>
	{% endif %}

{% endblock %}
